<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>dev.skydiver.alfred.json</string>
    <key>connections</key>
    <dict>
      <key>0BFD7C19-3A33-460B-9DBA-49CD71579930</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BBA3FC12-748F-4F82-9A58-89E21F07AC7B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>17EB17B7-468C-4516-BB6C-757299FA3FA3</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>C4ACB3F3-670D-4ABC-A197-66F5B5639FE7</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>sourceoutputuid</key>
          <string>97378838-2E11-4B36-825C-6AB0C20B6CF6</string>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>2BC7FEC1-045A-47DD-AFE5-87B07DE70F95</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>1DDD8836-0FDC-405F-99E6-E7725DE826B2</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BBA3FC12-748F-4F82-9A58-89E21F07AC7B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>33F7DE4F-6A7A-4EE7-9B4C-B0661A28F19B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>0BFD7C19-3A33-460B-9DBA-49CD71579930</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>5733F3D9-0BE8-4F68-B22A-25A896D39463</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>8070424A-E31D-4465-ACB6-07DE871A855B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>77B9BB59-C046-474A-978D-CEBCBC30AE91</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BBA3FC12-748F-4F82-9A58-89E21F07AC7B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>8070424A-E31D-4465-ACB6-07DE871A855B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BBA3FC12-748F-4F82-9A58-89E21F07AC7B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>8CDBC272-97AB-4458-9367-0BF62F8BB779</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>77B9BB59-C046-474A-978D-CEBCBC30AE91</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>A86A5148-013D-4C5F-B81E-05A386A318CD</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>AF962389-C9F8-4593-A1D7-9D1CFC0F1BD3</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>AF962389-C9F8-4593-A1D7-9D1CFC0F1BD3</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>33F7DE4F-6A7A-4EE7-9B4C-B0661A28F19B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>BBA3FC12-748F-4F82-9A58-89E21F07AC7B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>F169FD84-99D6-454A-A47C-3921D08B7088</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>E5843D30-CEB9-429D-8FF9-46F89AC6323A</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>1DDD8836-0FDC-405F-99E6-E7725DE826B2</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>F169FD84-99D6-454A-A47C-3921D08B7088</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>17EB17B7-468C-4516-BB6C-757299FA3FA3</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Martín M.</string>
    <key>description</key>
    <string>"An Alfred workflow to format and prettify JSON." "An Alfred workflow to format and prettify JSON."     An Alfred workflow to format and prettify JSON</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Pretty JSON</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>lastpathcomponent</key>
          <false/>
          <key>onlyshowifquerypopulated</key>
          <false/>
          <key>removeextension</key>
          <false/>
          <key>text</key>
          <string>Invalid JSON on clipboard</string>
          <key>title</key>
          <string>Pretty JSON</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.notification</string>
        <key>uid</key>
        <string>C4ACB3F3-670D-4ABC-A197-66F5B5639FE7</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>json</string>
          <key>subtext</key>
          <string>Format &amp; paste JSON from the clipboard</string>
          <key>text</key>
          <string>Prettify JSON</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>E5843D30-CEB9-429D-8FF9-46F89AC6323A</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>{query}</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>CONTENT</key>
            <string>{clipboard}</string>
            <key>MODE</key>
            <string>json</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>1DDD8836-0FDC-405F-99E6-E7725DE826B2</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>pjson</string>
          <key>subtext</key>
          <string>Convert, prettify &amp; paste Python object from clipboard</string>
          <key>text</key>
          <string>Convert &amp; Prettify Python Object</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>A86A5148-013D-4C5F-B81E-05A386A318CD</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>68</integer>
          <key>script</key>
          <string>echo $CONTENT | python3 -c 'import sys, json; print(json.dumps(eval(sys.stdin.read()), indent=4))'</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>33F7DE4F-6A7A-4EE7-9B4C-B0661A28F19B</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>68</integer>
          <key>script</key>
          <string>node bundle.js "$MODE" "$CONTENT"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>BBA3FC12-748F-4F82-9A58-89E21F07AC7B</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>conditions</key>
          <array>
            <dict>
              <key>inputstring</key>
              <string/>
              <key>matchcasesensitive</key>
              <false/>
              <key>matchmode</key>
              <integer>0</integer>
              <key>matchstring</key>
              <string>false</string>
              <key>outputlabel</key>
              <string>END</string>
              <key>uid</key>
              <string>97378838-2E11-4B36-825C-6AB0C20B6CF6</string>
            </dict>
          </array>
          <key>elselabel</key>
          <string>{query}</string>
          <key>hideelse</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.conditional</string>
        <key>uid</key>
        <string>17EB17B7-468C-4516-BB6C-757299FA3FA3</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>{query}</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>CONTENT</key>
            <string>{query}</string>
            <key>MODE</key>
            <string>json</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>0BFD7C19-3A33-460B-9DBA-49CD71579930</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>{query}</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>CONTENT</key>
            <string>{clipboard}</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>AF962389-C9F8-4593-A1D7-9D1CFC0F1BD3</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.transform</string>
        <key>uid</key>
        <string>F169FD84-99D6-454A-A47C-3921D08B7088</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <true/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>ignoredynamicplaceholders</key>
          <false/>
          <key>transient</key>
          <true/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>2BC7FEC1-045A-47DD-AFE5-87B07DE70F95</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>djson</string>
          <key>subtext</key>
          <string>Convert, prettify &amp; paste DynamoDB JSON from clipboard</string>
          <key>text</key>
          <string>Convert &amp; Prettify DynamoDB JSON</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>5733F3D9-0BE8-4F68-B22A-25A896D39463</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>{query}</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>CONTENT</key>
            <string>{clipboard}</string>
            <key>MODE</key>
            <string>ddbjson</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>8070424A-E31D-4465-ACB6-07DE871A855B</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>acceptsfiles</key>
          <false/>
          <key>acceptsmulti</key>
          <integer>0</integer>
          <key>acceptstext</key>
          <true/>
          <key>acceptsurls</key>
          <false/>
          <key>name</key>
          <string>Prettify JSON</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.universalaction</string>
        <key>uid</key>
        <string>8CDBC272-97AB-4458-9367-0BF62F8BB779</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string>{query}</string>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>CONTENT</key>
            <string>{query}</string>
            <key>MODE</key>
            <string>json</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>77B9BB59-C046-474A-978D-CEBCBC30AE91</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string>Alfred Pretty JSON

An Alfred workflow that formats and prettifies different types of JSON objects, including standard JSON, Python objects, and DynamoDB JSON.


================================================
Icons made by Smashicon
https://www.flaticon.com/authors/smashicons
================================================</string>
    <key>uidata</key>
    <dict>
      <key>0BFD7C19-3A33-460B-9DBA-49CD71579930</key>
      <dict>
        <key>colorindex</key>
        <integer>3</integer>
        <key>xpos</key>
        <integer>455</integer>
        <key>ypos</key>
        <integer>225</integer>
      </dict>
      <key>17EB17B7-468C-4516-BB6C-757299FA3FA3</key>
      <dict>
        <key>xpos</key>
        <integer>915</integer>
        <key>ypos</key>
        <integer>215</integer>
      </dict>
      <key>1DDD8836-0FDC-405F-99E6-E7725DE826B2</key>
      <dict>
        <key>colorindex</key>
        <integer>10</integer>
        <key>xpos</key>
        <integer>220</integer>
        <key>ypos</key>
        <integer>80</integer>
      </dict>
      <key>2BC7FEC1-045A-47DD-AFE5-87B07DE70F95</key>
      <dict>
        <key>colorindex</key>
        <integer>10</integer>
        <key>xpos</key>
        <integer>1105</integer>
        <key>ypos</key>
        <integer>345</integer>
      </dict>
      <key>33F7DE4F-6A7A-4EE7-9B4C-B0661A28F19B</key>
      <dict>
        <key>colorindex</key>
        <integer>3</integer>
        <key>xpos</key>
        <integer>290</integer>
        <key>ypos</key>
        <integer>195</integer>
      </dict>
      <key>5733F3D9-0BE8-4F68-B22A-25A896D39463</key>
      <dict>
        <key>colorindex</key>
        <integer>8</integer>
        <key>xpos</key>
        <integer>50</integer>
        <key>ypos</key>
        <integer>350</integer>
      </dict>
      <key>77B9BB59-C046-474A-978D-CEBCBC30AE91</key>
      <dict>
        <key>colorindex</key>
        <integer>10</integer>
        <key>xpos</key>
        <integer>220</integer>
        <key>ypos</key>
        <integer>535</integer>
      </dict>
      <key>8070424A-E31D-4465-ACB6-07DE871A855B</key>
      <dict>
        <key>colorindex</key>
        <integer>8</integer>
        <key>xpos</key>
        <integer>220</integer>
        <key>ypos</key>
        <integer>380</integer>
      </dict>
      <key>8CDBC272-97AB-4458-9367-0BF62F8BB779</key>
      <dict>
        <key>colorindex</key>
        <integer>10</integer>
        <key>xpos</key>
        <integer>50</integer>
        <key>ypos</key>
        <integer>505</integer>
      </dict>
      <key>A86A5148-013D-4C5F-B81E-05A386A318CD</key>
      <dict>
        <key>colorindex</key>
        <integer>3</integer>
        <key>xpos</key>
        <integer>50</integer>
        <key>ypos</key>
        <integer>195</integer>
      </dict>
      <key>AF962389-C9F8-4593-A1D7-9D1CFC0F1BD3</key>
      <dict>
        <key>colorindex</key>
        <integer>3</integer>
        <key>xpos</key>
        <integer>220</integer>
        <key>ypos</key>
        <integer>225</integer>
      </dict>
      <key>BBA3FC12-748F-4F82-9A58-89E21F07AC7B</key>
      <dict>
        <key>xpos</key>
        <integer>675</integer>
        <key>ypos</key>
        <integer>195</integer>
      </dict>
      <key>C4ACB3F3-670D-4ABC-A197-66F5B5639FE7</key>
      <dict>
        <key>colorindex</key>
        <integer>1</integer>
        <key>xpos</key>
        <integer>1105</integer>
        <key>ypos</key>
        <integer>45</integer>
      </dict>
      <key>E5843D30-CEB9-429D-8FF9-46F89AC6323A</key>
      <dict>
        <key>colorindex</key>
        <integer>10</integer>
        <key>xpos</key>
        <integer>50</integer>
        <key>ypos</key>
        <integer>50</integer>
      </dict>
      <key>F169FD84-99D6-454A-A47C-3921D08B7088</key>
      <dict>
        <key>xpos</key>
        <integer>835</integer>
        <key>ypos</key>
        <integer>225</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array/>
    <key>version</key>
    <string>2.0.0</string>
    <key>webaddress</key>
    <string>https://github.com/skydiver/</string>
  </dict>
</plist>