<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>dev.skydiver.alfred.goodlinks</string>
    <key>connections</key>
    <dict>
      <key>00C60F5F-016E-48B6-BEBF-868FB5E812DB</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>963422ED-E90E-4A09-95B9-2ED53193A92B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>963422ED-E90E-4A09-95B9-2ED53193A92B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>C3265951-19FF-49F1-AA81-5F64C9D07D6A</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>B97972C5-524B-4848-80FF-258A3D863634</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>9B6250A0-F8E3-4584-858F-8EC0D0524595</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>BE266402-75F6-4912-93CB-E72CF9593D90</string>
          <key>modifiers</key>
          <integer>1048576</integer>
          <key>modifiersubtext</key>
          <string>Show save dialog</string>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>C3265951-19FF-49F1-AA81-5F64C9D07D6A</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>C12C495E-08DC-456B-BE23-0AF31B29ADF3</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
        <dict>
          <key>destinationuid</key>
          <string>417AA9AE-4CC5-43B8-A2C2-2DD6BD1B672F</string>
          <key>modifiers</key>
          <integer>1048576</integer>
          <key>modifiersubtext</key>
          <string>Show save dialog</string>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>ED144081-06D2-46A2-BB24-3F138A4B483E</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>00C60F5F-016E-48B6-BEBF-868FB5E812DB</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Martín M.</string>
    <key>description</key>
    <string/>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>GoodLinks</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>browser</key>
          <string/>
          <key>skipqueryencode</key>
          <false/>
          <key>skipvarencode</key>
          <false/>
          <key>spaces</key>
          <string/>
          <key>url</key>
          <string>goodlinks://x-callback-url/save?&amp;url={query}&amp;quick=1</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>C12C495E-08DC-456B-BE23-0AF31B29ADF3</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>tasksettings</key>
          <dict>
            <key>allow_empty</key>
            <true/>
          </dict>
          <key>taskuid</key>
          <string>com.alfredapp.automation.extras/web-browsers/frontmost-browser/frontmost.tabs</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.automation.task</string>
        <key>uid</key>
        <string>00C60F5F-016E-48B6-BEBF-868FB5E812DB</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>alfredfiltersresults</key>
          <true/>
          <key>alfredfiltersresultsmatchmode</key>
          <integer>2</integer>
          <key>argumenttreatemptyqueryasnil</key>
          <true/>
          <key>argumenttrimmode</key>
          <integer>0</integer>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>escaping</key>
          <integer>102</integer>
          <key>queuedelaycustom</key>
          <integer>3</integer>
          <key>queuedelayimmediatelyinitially</key>
          <true/>
          <key>queuedelaymode</key>
          <integer>0</integer>
          <key>queuemode</key>
          <integer>1</integer>
          <key>runningsubtext</key>
          <string>Retrieving browser tabs ...</string>
          <key>script</key>
          <string>$NODE_BINARY ./bundle.js $URLS</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>subtext</key>
          <string/>
          <key>title</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.scriptfilter</string>
        <key>uid</key>
        <string>C3265951-19FF-49F1-AA81-5F64C9D07D6A</string>
        <key>version</key>
        <integer>3</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>gl</string>
          <key>subtext</key>
          <string>Show your opened tabs and select which URL to save</string>
          <key>text</key>
          <string>GoodLinks: add new URL</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>ED144081-06D2-46A2-BB24-3F138A4B483E</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argument</key>
          <string/>
          <key>passthroughargument</key>
          <false/>
          <key>variables</key>
          <dict>
            <key>URLS</key>
            <string>{query}</string>
          </dict>
        </dict>
        <key>type</key>
        <string>alfred.workflow.utility.argument</string>
        <key>uid</key>
        <string>963422ED-E90E-4A09-95B9-2ED53193A92B</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>browser</key>
          <string/>
          <key>skipqueryencode</key>
          <false/>
          <key>skipvarencode</key>
          <false/>
          <key>spaces</key>
          <string/>
          <key>url</key>
          <string>goodlinks://x-callback-url/save?&amp;url={query}</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>417AA9AE-4CC5-43B8-A2C2-2DD6BD1B672F</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>browser</key>
          <string/>
          <key>skipqueryencode</key>
          <false/>
          <key>skipvarencode</key>
          <false/>
          <key>spaces</key>
          <string/>
          <key>url</key>
          <string>goodlinks://x-callback-url/save?&amp;url={query}&amp;quick=1</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>9B6250A0-F8E3-4584-858F-8EC0D0524595</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>acceptsfiles</key>
          <false/>
          <key>acceptsmulti</key>
          <integer>0</integer>
          <key>acceptstext</key>
          <false/>
          <key>acceptsurls</key>
          <true/>
          <key>name</key>
          <string>GoodLinks: add new URL</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.trigger.universalaction</string>
        <key>uid</key>
        <string>B97972C5-524B-4848-80FF-258A3D863634</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>browser</key>
          <string/>
          <key>skipqueryencode</key>
          <false/>
          <key>skipvarencode</key>
          <false/>
          <key>spaces</key>
          <string/>
          <key>url</key>
          <string>goodlinks://x-callback-url/save?&amp;url={query}</string>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.openurl</string>
        <key>uid</key>
        <string>BE266402-75F6-4912-93CB-E72CF9593D90</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>00C60F5F-016E-48B6-BEBF-868FB5E812DB</key>
      <dict>
        <key>xpos</key>
        <integer>320</integer>
        <key>ypos</key>
        <integer>140</integer>
      </dict>
      <key>417AA9AE-4CC5-43B8-A2C2-2DD6BD1B672F</key>
      <dict>
        <key>note</key>
        <string>Show Save Dialog</string>
        <key>xpos</key>
        <integer>890</integer>
        <key>ypos</key>
        <integer>240</integer>
      </dict>
      <key>963422ED-E90E-4A09-95B9-2ED53193A92B</key>
      <dict>
        <key>xpos</key>
        <integer>500</integer>
        <key>ypos</key>
        <integer>170</integer>
      </dict>
      <key>9B6250A0-F8E3-4584-858F-8EC0D0524595</key>
      <dict>
        <key>note</key>
        <string>Quick Save</string>
        <key>xpos</key>
        <integer>320</integer>
        <key>ypos</key>
        <integer>450</integer>
      </dict>
      <key>B97972C5-524B-4848-80FF-258A3D863634</key>
      <dict>
        <key>xpos</key>
        <integer>65</integer>
        <key>ypos</key>
        <integer>550</integer>
      </dict>
      <key>BE266402-75F6-4912-93CB-E72CF9593D90</key>
      <dict>
        <key>note</key>
        <string>Show Save Dialog</string>
        <key>xpos</key>
        <integer>315</integer>
        <key>ypos</key>
        <integer>650</integer>
      </dict>
      <key>C12C495E-08DC-456B-BE23-0AF31B29ADF3</key>
      <dict>
        <key>note</key>
        <string>Quick Save</string>
        <key>xpos</key>
        <integer>890</integer>
        <key>ypos</key>
        <integer>40</integer>
      </dict>
      <key>C3265951-19FF-49F1-AA81-5F64C9D07D6A</key>
      <dict>
        <key>xpos</key>
        <integer>610</integer>
        <key>ypos</key>
        <integer>140</integer>
      </dict>
      <key>ED144081-06D2-46A2-BB24-3F138A4B483E</key>
      <dict>
        <key>xpos</key>
        <integer>65</integer>
        <key>ypos</key>
        <integer>140</integer>
      </dict>
    </dict>
    <key>userconfigurationconfig</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>default</key>
          <string/>
          <key>placeholder</key>
          <string/>
          <key>required</key>
          <true/>
          <key>trim</key>
          <true/>
        </dict>
        <key>description</key>
        <string/>
        <key>label</key>
        <string>Node Binary Path</string>
        <key>type</key>
        <string>textfield</string>
        <key>variable</key>
        <string>NODE_BINARY</string>
      </dict>
    </array>
    <key>version</key>
    <string>1.0.0</string>
    <key>webaddress</key>
    <string>https://github.com/skydiver/</string>
  </dict>
</plist>